.shadow {
    width: fit-content;
    height: auto;
    padding: 20px;
    background-color: #eee;
    display: inline-block;
    font-size: 80px;
    text-shadow: 2px 2px 0px #ff3c00, 3px 3px 0px #0034ff, 4px 4px 0px #d300ff;
  }
  .one {
    text-transform: uppercase;
  }
  .two {
    text-transform: capitalize;
  }
  .three {
    text-transform: lowercase;
  }
  .thrd-1,
  .thrd-2,
  .thrd-3 {
    background-color: #ddd;
    width: 400px;
    padding: 20px;
    margin: 20px;
  }
  .thrd-3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a {
    text-align: center;
    border-bottom: 7px #0f6864eb solid;
    background-color: #09b8a0;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  