.one div {
    width: 600px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    position: relative;
    border: 10px solid;
    border-color: transparent #673ab7 transparent #f44336;
    font-size: 45px;
}

.one div::before, .one div::after {
    content: "";
    width: calc(100% + 20px);
    height: 10px;
    left: -10px;
    position: absolute;    
    background-image: linear-gradient(
        to right,
        #f44336 0 20%, 
        #2196f3 20% 40%, 
        #4caf50 40% 60%,         
        #e91e63 60% 80%, 
        #673ab7 80% 100%
        );
}

.one div::before{
    top: -10px;
}
.one::first-letter {
    color: #f44336;
}
.one div::after{
    bottom: -10px;
}
.two{
    width: 600px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.in input{
    padding: 20px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: #eee;
    margin: 5px 0 ;
    width: 550px;
    caret-color: #f44336;   
}
.in{
    position: relative;
    margin-bottom: 10px;
}
.two .in::after{
    content: "";
    position: absolute;
    height: 5px;
    background-image: linear-gradient(
        to right,
        #f44336 0 50%,
        #4caf50 50% 100%
    );
    width: 100%;
}
.two .in::after{
    bottom: 0;
    left: 0;
}