.list{
    width: 400px;
    margin: auto;
    top: 300px;
    border: 1px solid rgb(192, 186, 186);
    padding: 15px 15px 0 15px;
}
.list .upper-li{
    list-style: none;
    margin-bottom: 30px;
    background-color: #eee;
    padding: 20px;

}

.second-ol{
    list-style-type: upper-roman;
}
ul li ol li ,.full{
    background-color: #fff;
    padding: 5px;
    margin-bottom: 5px;
}
.full{
    list-style-position: inside;
    margin-left: -40px;
}